# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
*.moved-aside
*.xcscmblueprint

# SwiftPM
/.build/

# CocoaPods (if ever used)
Pods/
*.lock

# Carthage (if ever used)
Carthage/Build/

# Fastlane (if ever used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
